@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Anton", sans-serif;
}

.container {
  width: 1170px;
  margin: 0px auto;
}

.header {
  background: url("../img/header-bg.jpg") no-repeat center top/cover;
  padding: 57px 0 322px 0;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
  margin-left: 69px;
}

.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.tel {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  margin-left: auto;
  letter-spacing: 0.1em;
}

.offer {
  text-transform: uppercase;
  color: #fff;
  padding-top: 216px;
}

.offer p {
  font-size: 30px;
  line-height: 45.16px;
  letter-spacing: 10%;
}

.offer h1 {
  font-size: 100px;
  line-height: 150.54px;
  margin-top: -9px;
}

.btn {
  display: block;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 47px;
  border: 1px solid #fff;
  color: #fff;
  width: 238px;
}