@import "nullstyle.scss";

body{
    font-family: 'Anton', sans-serif;
}

.container{
    width: 1170px;
    margin: 0px auto;
}

.header {
    background: url('../img/header-bg.jpg') no-repeat center top / cover;
    padding: 57px 0 322px 0;
}
.container {
}
.nav {
    display: flex;
    align-items: center;
}
.logo {
}
.menu {
    display: flex;
    gap: 40px;
    margin-left: 69px;
}
.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.menu-item {
}
.tel {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-left: auto;
    letter-spacing: 0.1em;
}
.offer {
    text-transform: uppercase;
    color: #fff;
    padding-top: 216px;
}

.offer p{
    font-size: 30px;
    line-height: 45.16px;
    letter-spacing: 10%;
}

.offer h1{
    font-size: 100px;
    line-height: 150.54px;
    margin-top: -9px;
}

.btn{
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    color: #fff;
    width: 238px;
}

.about {
    margin: 0 auto;

    &__title {
        text-transform: uppercase;
        font-size: 50px;
        line-height: 75px;
        margin-top: 80px;
    }

    &__columns{
        display: flex;
        gap: 36px;
        margin-top: 58px;
    }

    &__columns__item{
        width: 48%;
    }

    &__subtitle {
        font-size: 25px;
        line-height: 37px;
    }

    &__text{
        font-family: 'Open Sans', sans-serif;
        margin-top: 19px;
        margin-bottom: 67px;
        line-height: 26px;
    }

    &__img1 {
        padding-right: 20px;
    }

    &__img2 {
        padding-right: 30px;
    }

    &__img3 {
    }
}
.container {
}